@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Este projeto faz parte do curso Dominando o ASP.NET MVC Core, nele é possível trabalhar as melhores práticas do mercado.</p>
</div>
